

@media (max-width: 1024px) {
}

@media (max-width: 900px) {

}

@media (max-width: 768px) {
}

@media (max-width: 700px) {

}

@media (max-width: 600px) {
    .page-title {
        text-align: center
    }
}

@media (max-width: 530px) {

}

@media (max-width: 480px) {


}

@media (max-width: 400px) {
    #login-box {
        width: 100%;
        right: 0
    }
}

@media (max-width: 320px) {
    .open-links {
        text-align: center
    }
}

@media (max-width: 240px) {

}

@media (min-width: 1920px) {

}